<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head> 
<body>
    <script>
    let isExtension = true;
    </script>
<div>
    <button onclick="runCode()" id="runButton">Run</button>
    <button onclick="stepCode()" id="stepButton">Step</button>
    <button onclick="clearWorkspace()" id="clearButton" href="">Clear</button>
    <button>
    <label>
        Load <input type="file" onchange="importBlocksFile(this);" accept=".txt,.xml" style="display: none;">
    </label>
    </button>
    <button onclick="exportBlocks()" id="saveButton" href="">Save</button>
    <button onclick="openWebApp()" id="webAppButton" href="">App</button>
</div>
</br>
<div id="blocklyArea" style="height: 600px ; width: 100%;"></div>
</br>
<div>
    <textarea id="output" disabled="disabled"
    style="display: inline-block; height: 480px; width: 100%; resize: vertical;">
    </textarea>
</div>

</body>
<script src="scripts/axios.min.js"></script>
<script src="scripts/blockly.min.js"></script>
<script src="scripts/toolbox.js"></script>
<script src="scripts/interpreter.js"></script>
<script src="scripts/acorn.js"></script>
<script src="scripts/main.js"></script>
<script src="scripts/openflexure_blocks.js"></script>
</html>